<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link  rel="stylesheet"  type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet"  type="text/css" th:href="@{/css/style.css}">

<style >
body {
font-family: Arial, Helvetica, sans-serif;
background-image: url('image/MEVA1.jpg');
background-repeat: no-repeat;
background-size: 700px 1000px;


}
</style>

</head>


<body class="bakmenu">
<div style="max-width:500px;margin:280px 1010px 90px; margin-right:100px">
<form th:action="@{/action_Login}"  th:object="${user}" method="post">
  <h2>Log in</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Username" name="prenom" th:field="*{prenom}" required>
  </div>
 
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password" th:field="*{password}" required>
  </div>
   <div class="input-container">
  <label>
      <input type="checkbox" name="remember"> Remember me
    </label>
  </div>
  <button type="submit" class="btn" >Log In</button>
  
  <div class="input-container">
    <p class="ps"><a th:href="@{/register}">Sign up for MJA</a></p>
    <p class="ps"><a th:href="@{/rest_Password}">Forgot password?</a></p>
  </div>
</form>
</div>
</body>
</html>
