<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link  rel="stylesheet"  type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet"  type="text/css" th:href="@{/css/style.css}">
<style>
body {
font-family: Arial, Helvetica, sans-serif;
background-image: url('image/MEVA1.jpg');
background-repeat: no-repeat;
background-size: 700px 1000px;
}

</style>
</head>
<body>
<div style="max-width:500px;margin:280px 1010px 90px; margin-right:100px">
<form th:action="@{/rest_process}" style="max-width:500px;margin:auto" th:object="${user}" method="post">
  <h2>Rest Password</h2>
  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="email" placeholder="Email" name="email"  th:field="*{email}" required>
  </div>
 
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="psw" required>
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Repeat Password" name="psw-repeat"  th:field="*{password}" required>
  </div>
  
   <div class="input-container">
  <label>
      <input type="checkbox" name="remember"> Remember me
    </label>
  </div>
  <button type="submit" class="btn">Submit</button>
  
  <div class="input-container">
    <p class="ps"><a th:href="@{/register}">Sign up for MJA</a></p>
    <p class="ps"><a th:href="@{/Login}">Log In?</a></p>
  </div>
</form>
</div>

</body>
</html>
