<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link  rel="stylesheet"  type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" >
<title>Insert title here</title>
</head>
<body>
<p th:text="${user.name}"></p>
<p th:text="${user.prenom}"></p>
<p th:text="${user.email}"></p>
<p th:text="${user.company}"></p>
</body>
</html>